{% extends 'base.html.twig' %}

{% block title 'Tous les salons' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        {{ form_start(form) }}
        <div class="form-row align-items-end">
            <div class="col">
                {{ form_row(form.tatoo_styles, {'attr': {'class': 'select2'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.address, {id: 'search_address'}, {'attr': {'placeholder': 'Filtrer'}}) }}
                <div class="adress-feedback">
                    <ul></ul>
                </div>
            </div>
            <div class="col">
                {{ form_row(form.distance) }}
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
  <div class="container mt-4">
    <h1>Voir tous les salons</h1>

    <div class="row">
      {% for salon in salons %}
        <div class="col-md-4">
          {% include 'salon/_salon.html.twig' %}
        </div>
      {% endfor %}
    </div>
{% endblock %}